body{
  margin: 20px;
}

.ramenBG{
  background-image: url('images/betterRamen.gif');
  background-size: cover;
}

h1{
  font-family: 'Trispace', sans-serif;
  text-align: center;
  color: black;
  font-size: 60px;
  padding-top: 300px;
  padding-bottom: 300px;
}
h2{
  font-family: 'Trispace', sans-serif;
  font-size: 40px;
  padding-bottom: 20px;
}
p{
  font-family: 'Trispace', sans-serif;
  font-size: 20px;
  width: 80%;
  padding-top: 50px;
  padding-bottom: 20px;
  line-height: 1.6;
}
.container{
  padding: 20px;
  margin: 20px;
}
.chart{
  width:80%;
}
